.tip {
    position: absolute;
    padding: 5px;
    background-color: #555;
    color: #ddd;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;

    &.hidden {
        opacity: 0;
    }
}